# Exercício 3 - KNN Regressor
3.3. Testar class KNN Regressor usando o dataset cpu.csv (regressão).

In [17]:
from si.neighbors.knn_regressor import KNNRegressor
from si.model_selection.split import train_test_split
from si.io_package.csv_file import read_csv

In [18]:
filename = "C:/Users/Ana/Documents/GitHub/mbioinf-sib/datasets/cpu.csv"
cpu = read_csv(filename, sep=",", label=True, features=True)
cpu.print_dataframe()

     syct  mmin   mmax  cach  chmin  chmax
198   125   256   6000   256     16    128
269    29  8000  32000    32      8     32
220    29  8000  32000    32      8     32
172    29  8000  32000    32      8     32
132    29  8000  16000    32      8     16
..    ...   ...    ...   ...    ...    ...
42    124  1000   8000     0      1      8
46     98  1000   8000    32      2      8
52    125  2000   8000     0      2     14
67    480   512   8000    32      0      0
45    480  1000   4000     0      0      0

[209 rows x 6 columns]

In [19]:
train_dataset, test_dataset = train_test_split(cpu)

In [20]:
train_dataset.print_dataframe()

      syct   mmin   mmax  cach  chmin  chmax
34      56   4000   8000     0      1      8
214     40   8000  16000    32      8     16
465     26  16000  32000    64      8     24
1150    30   8000  64000   128     12    176
32     105   1000   4000     0      3     24
...    ...    ...    ...   ...    ...    ...
32     400   4000   8000     0      1      1
10     350     64     64     0      1      4
22     140   2000   4000     8      1     20
60     160   1000   8000    16      1     14
7     1100    512   1500     0      1      1

[168 rows x 6 columns]

In [21]:
test_dataset.print_dataframe()

      syct   mmin   mmax  cach  chmin  chmax
274     25   1310   2620   131     12     24
30     200   1000   4000     0      1      4
22     330   1000   4000     0      3      6
915     30   8000  64000    96     12    176
16     800    256   8000     0      1      4
326     38   8000  32000    64      8     24
72     133   1000   8000     9      3     12
6      240    512   1000     8      1      3
1144    23  32000  64000   128     32     64
208     50   2000  32000    48     26     52
65      50   2000  16000    24      6     16
130     52   4000  16000    32      4     12
52     125   2000   8000     0      2     14
45      50   2000   8000     8      3      6
35     200    512  16000     0      4     32
36     300    768   3000     0      6     24
51      38   4000   8000    32     16     32
31     143   1000   2000     0      5     16
100     38   8000  16000    64      4      8
132     57   4000  16000     1      6     12
50     300    768  12000     6      6     24
60     110   1000  12000    16      1      2
110     50   4000  16000    64      5     10
18     900   1000   4000     4      1      2
11     900    512   1000     0      1      2
50      92   2000   8000     4      1      6
69     320    512   2000     4      1      3
27      50   2000   4000     0      3      6
19     167    524   2000     8      4     15
41     200   2000   8000    64      1      5
248     26   8000  32000    64     12     16
32     105   2000   4000     8      3     19
45     115    512   6000    16      1      6
26     105    256   2000     0      3     10
16     600    768   2000     0      1      1
26     100   1000   8000    24      2      6
67     480    512   8000    32      0      0
465     26  16000  32000    64     16     24
38     300   1000  16000     8      2    112
17      56   1000   4000     0      1      6
307     50   2000  32000   112     52    104

In [22]:
k = 2
kmeans = KNNRegressor(k)
kmeans.fit(train_dataset)
predictions = kmeans.predict(test_dataset)
predictions

array([192. ,  31. ,  31. , 893. ,  18. , 323.5,  51. ,  26.5, 893. ,
       127.5,  67. ,  76. ,  54. ,  63.5,  94. ,  30. ,  75. ,  18.5,
       162. ,  56. ,  78. ,  78. , 115.5,  33.5,  14.5,  81.5,  21.5,
        31. ,  21.5,  79.5, 344. ,  31. , 115.5,  21. ,  18. ,  39. ,
        32. , 416. ,  94. ,  27.5, 127.5])

In [23]:
kmeans.score(test_dataset)

(61.366501945080834+0j)