# Ficha de trabalho 1
1 - Considera o ficheiro **notas.csv** com a classificação de algumas disciplinas do curso de bioinformática.
Importa os dados para um objeto do tipo pandas.DataFrame

In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('notas.csv')
df

      Nome  Laboratórios   Alg. Avançados   Biologia Sistemas
0     João          12.0             16.0                17.0
1    Carla          17.0             16.0                 NaN
2    Sónia           NaN             18.0                18.0
3    Pedro          16.0              NaN                18.0
4     José          14.0             17.0                12.0
5   Carina          19.0             18.0                20.0
6    Telma          16.0             14.0                12.0
7  Joaquim           NaN             15.0                12.0
8  Ricardo          15.0             15.0                14.0
9    Vanda          16.0             15.0                18.0

2 - Ordena a informação pela ordem alfabética dos nomes.

3 - Calcula a média de cada uma das disciplinas.

4 - Seleciona o nome dos alunos com classificação igual ou superior 16 na disciplina de Laboratórios.

5 - Cria uma nova coluna com a média de cada um dos alunos nas 3 disciplinas.

6 - Considera a seguinte informação adicional.
```python
Sexo = ['M','F','F','M','M','F','F','M','M','F']
Idade = [23,21,25,21,22,23,21,20,27,21]
```
Constroi um novo DataFrame (df2) com a informação adicional dos alunos.

7 - Compila a informação presente nos dois DataFrames (df e df2) num único DataFrame.

8 - A média da notas das raparigas é mais alta, em comparação com a dos rapazes, na disciplina de Biologia Sistemas?

9 - Remove do DataFrame os alunos que têm disciplinas em atraso. Coloca o resultado em df3. Os alunos com disciplinas em atraso têm valor omisso nessa coluna.

10 - Cria uma tabela pivot que apresente a média das notas de Laboratórios agrupada por idades para ambos os sexos.

11 - Adiciona uma nova coluna que indique se o aluno tem bolsa de Mérito ou não. Para ter bolsa de Mérito o aluno não pode ter disciplinas em atraso e média tem que ser superior a 17 valores. Explora a função **apply**.